/*
Theme Name:   Breek Child
Theme URI:    https://1.envato.market/wp-breek-preview
Author: EstudioPatagon
Author URI: https://1.envato.market/ep-portfolio-themes
Description:  Child theme, based on Breek
Template: breek

*/

/* Add your custom code just below */
